<div id="footer">
    <div class="fl">
        <h4>Revanesse </h4>
        <div class="icons">
            <i class="ri-instagram-line"></i>
            <i class="ri-facebook-fill"></i>
            <i class="ri-linkedin-fill"></i>
            <i class="ri-twitter-fill"></i>
        </div>
    </div>
    <div class="fl">
        <div class="a1">
            <a href="#">
                HOME
            </a>
            <a href="#">
                BEFORE & After
            </a>
            <a href="#">
                PRODUCTS
            </a>
        </div>
        <div class="a1">
            <a href="#">
                CONTACT
            </a>
            <a href="#">
                PRIVACY POLICY
            </a>
          
        </div>
    </div>
    <div class="fl">
          <h4 style="text-align: right;">Thanks for finding us. <br>Ready to find yourself?</h4>
          <div class="fbt">
               <small>Find a Hospital </small>
               <span>→</span>
          </div>
    </div>
</div>