<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/myhospital.css">
    <link rel="stylesheet" href="../stylesheets/nav.css">
    <link rel="stylesheet" href="../stylesheets/loco.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/search.css">
</head>
<body>
<style>
    #footer{
        position: initial;
        z-index: 9;
        margin-top: 12vh;
    }
     #main_nav{
        background-color: #fff;
     }
     #singleCourse #image{
        background-color: transparent;
        overflow: initial;
     }
     @media (max-width:767px){
        #singleCourse #courseName{
            margin-bottom: 2vmax;
        }
        #address{
            font-size: 2vmax !important;
        }
        #image{
            height: 25vh !important;
        }
     }
</style>
    <% include ./partials/nav.ejs %>
    <div id="main">
        <h1>Hospitals You Added In</h1>
        <% if(user.ReviewID.length >0 ){ %>
            <div id="courses">
               <% user.ReviewID.forEach(function(Review){ %>
                    <div style="width:21vw;" id="singleCourse">
                    <h2 id="courseName" onclick="window.location.href='#'"><%= Review.ownerId.name %></h2>
                    <h6 id="address" style="font-size: 1vmax;line-height: 1.2;margin-bottom: 1vmax;font-weight: 500;" id="courseName" onclick="window.location.href='#'"><%= Review.ownerId.email %></h6>

                        <div style="height: 30vh;" id="image">
                              <%= Review.review %>
                        </div>
                    <h6 id="address" style="font-size: 1vmax;line-height: 1.2;margin-bottom: 1vmax;font-weight: 500;" id="courseName" onclick="window.location.href='#'"></h6>
                    
                        
                    <div style="mask-type: 1vmax;" id="button">
                                    <div onclick="window.location.href='#'" id="fees">
                                        <p>Edit Review</p>
                                        <i class="ri-checkbox-circle-fill"></i>
                                    </div>
                                    
                                    <div onclick="window.location.href='/delete/review/<%= Review._id %>'" id="pay">
                                         <p>Delete Review</p>
                                    </div>
                    </div>
                    </div>
               <% }) %>
             </div>
          <% }else{ %>
                <div class="nov">
                    <h1 id="notEnrollYet">
                        You are not Added any  Aby Review  Yet
                         <br>
                        <button onclick="window.location.href='/addhospital'"> <a href="/addhospital">Add now</a></button> 
                   </h1>
                </div>
         <% } %>

    </div>
    <% include ./partials/footer.ejs %>
    <% include ./partials/loco.ejs  %>
    <script src="../javascripts/nav.js"></script>
    <script src="../javascripts/loader.js"></script>
    <script src="../javascripts/search.js"></script>
</body>
</html>